html{margin-bottom: -15px;}
body {margin:0;}

* {box-sizing: border-box;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

@font-face {
	font-family: 'Kelvinized';
	src: url('data/Kelvinized.ttf') format('truetype');
}

header{	padding: 0px;
}

#sketch_grid { 
	position:absolute;
	height: 150px;
	width:100%;
	
	z-index:0;
}
	


.logoName{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 0px 0px 0px;
	z-index:1;
}

.logoName img {
	display: block;
	width: 800px;
	
	margin: auto;
	z-index:1;
}

.topnav {
	display: flex;
	z-index:3;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	justify-content: center;
    align-items: center;	
	
}



ul.topnav li a {
	
	position: relative;
	display: inline-block;
	color: black;
	text-align: center;
	padding: 6px 16px;
	text-decoration: none;
	font-size: 20px;
	border-bottom: 4px solid rgba(192, 192, 192, 0);
	-webkit-transition: border 500ms ease;
	-moz-transition: border 500ms ease;
	-ms-transition: border 500ms ease;
	-o-transition: border 500ms ease;
	transition: border 500ms ease;
 }

ul.topnav  a:link {
	color:black;
} 

ul.topnav  li:nth-child(2) a:hover{border-bottom: 4px solid rgba(102, 0, 34, 1);}

ul.topnav li:nth-child(3) a:hover{border-bottom: 4px solid rgba(255, 0, 0, 1);}

ul.topnav li:nth-child(4) a:hover{border-bottom: 4px solid rgba(0, 122, 204, 1);}

ul.topnav  li:nth-child(5) a:hover{border-bottom: 4px solid rgba(230, 184, 0, 1);}

/*ul.topnav li:not(:last-child) a:hover, ul.topnav li:not(:last-child)  {
	z-index:3;
	color: black;

}*/

#myTopnav .active{
	border-bottom: 4px solid rgba(102, 0, 34, 1);
	z-index:3;
}

ul.topnav li.icon {display: none;}

#myTopnav li .closebtn{display: none;}


/*-------------------side navigation------------------------------*/
.toggle{display: none;}

.toggle img{width: 36px;}






@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/*---------------------------------media query--------------------*/

@media screen and (max-width:768px) {
	
	
  ul.topnav li{display: none;}
  .toggle {
	float: right;
    display: inline-block;
	padding: 15px 15px 15px 0px;	
	z-index:3;
  }
  
  #sketch_grid { z-index:-1; display: none;}
  
  
  
  .logoName img {	width: 90%;}
  
  
  
  div.col-sm-2.left{ padding: 0px;}
  
  footer #siteMap, footer #brands{
		display: none;
	}
	
	footer #contactInfo{
		position: relative;
		display: block;
	}	
	
	#socialRow li{
		padding: 8px 8px;
		margin:2px;
	}
	
	#animItem:nth-child(2) {	display:none;}
	
	.main .container-fluid .col-sm-8{
			padding:10px 35px;
	}
	
	.main .container-fluid #socialRowSide{display: none;}
	.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
	z-index: 10;
    top: 0;
	left: -250px;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
	padding-left: 0px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;

	}



	.sidenav a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 1.8em;
		color: #e6e6e6;
		display: block;
		transition: 0.5s
	}


	.sidenav a:hover, .offcanvas a:focus{
		color: #FF9900;
	}

	.sidenav li .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}
	
 
}

@media screen and (min-width: 480px) {
	
	.main .container-fluid .col-sm-2{display:inline-block;}
	.col-sm-8 .about{
		display: inline-block;
	}
	
	
		
	#socialMedia li {
		padding: 8px 15px;
		margin:2px;
	}
	
	
}

@media screen and (max-width: 480px) {
	
	
	#slide .carousel-inner img{
	  height: 180px;
  }
}
	

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 780px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}


/*--------------------------------main section-------------------------------*/


.main{
	background: #ffffff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient( #f2f2f2, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( #f2f2f2, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( #f2f2f2, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient( #f2f2f2, #ffffff); /* Standard syntax (must be last) */
	
}
.main .col-sm-2{	display: block;}

.main .goUpButton :nth-child(1){
	padding-top:10%;
	margin-bottom: -12px;
}

#slide{	padding:0px;}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }
  
 #myCarousel{z-index:0;}
  
  
 
a.goUpButton{
	display: none;
	width:40px;
	height: 40px;
	color: black;
	position:fixed;
	margin:auto;
	right: 5%;
	bottom: 15%;
	z-index: 3;
	background: rgba(128, 128, 128, 0.6);
	box-shadow: 0 3px 4px 0px rgba(0,0,0,0.5), 0 3px 4px 0px rgba(0,0,0,0.5);
}

a:hover.goUpButton {
	background:#009933;
	color: white;
}

.main .col-sm-8{
	background:#ffffff;
	padding:45px 35px 10px 35px;
	-webkit-box-shadow: 0 8px 6px -6px grey;
	-moz-box-shadow: 0 8px 6px -6px grey;
	box-shadow: 0 8px 5px -5px grey;
	text-align: left;
}


/*To not see any shadow on the sides, the (absolute value of the) spread radius (4th parameter) needs to be the same as the blur radius (3rd parameter).*/


.main .col-sm-8 h4 {
	margin-bottom: 35px;
	font-family: 'Cabin', sans-serif;
	
}

.animation{	padding: 25px 0px 25px 0px;}


.animCircles {	
	display: flex;
	padding-left: 0px;
}

.animCircles li{
	display: inline;
	margin: auto;		
}

.GaugeMeter{margin-right: 0px;}

.orderBtn{
	display: block;
	padding: 0px 0px 25px 0px;
}

.ourOfferBtn{
	
	cursor: pointer;  
	border: none;  
	display: block;
	margin: auto;
	background-color: rgba( 255,153,0, 1);
   	color: white;
    font-size: 1.2em;
	padding: 10px 35px;
	
	
}

.ourOffer{
	text-decoration: none;
    color: white;
	
}

.ourOfferBtn:hover{	
	background-color:rgba( 255,153,0, 0.8);
	-webkit-box-shadow: 0 8px 6px -6px grey;
	-moz-box-shadow: 0 8px 6px -6px grey;
	box-shadow: 0 8px 5px -5px grey;}

.ourOfferBtn a:hover{color:white; text-decoration:none;}



/*-----------------------footer--------------------*/

footer {
  font-size: 12px;
  width:100%;
  color: black;
  background-color: #e6e6e6;
  margin-top:35px;
}

#foot{padding: 0px 0px 0px 0px;}

#siteMap, #brands, #contactInfo  {display: inline-block; padding: 0px; margin: 0px;}

#siteMap h5, #brands h5, #contactInfo h5 {padding: 0px; margin-top: 5px;margin-bottom: 5px;}

#siteMap a, #brands a{
	text-decoration: none;
	color: black;
	border-bottom: 4px solid rgba(192, 192, 192, 0);
	-webkit-transition: border 500ms ease;
  -moz-transition: border 500ms ease;
  -ms-transition: border 500ms ease;
  -o-transition: border 500ms ease;
  transition: border 500ms ease;
}

#siteMap a:link, #brands a:link {
	color:black;
} 

#Honda:hover{border-bottom: 4px solid rgba(231, 24, 55, 1.0);}

#Kawasaki:hover{border-bottom: 4px solid rgba(84, 220, 48, 1.0);}

#Suzuki:hover{border-bottom: 4px solid rgba(0, 11, 16, 1.0);}

#Yamaha:hover{border-bottom: 4px solid rgba(255, 51, 51, 1.0);}


#socialRow{
	position: relative;
	display: inline-block;
	width:100%;
	background-color: #808080;
}

#socialMedia{
	display: flex;
    justify-content: center;
    align-items: center;
	list-style-type: none;
	margin: 0px;
	padding: 10px;
}



#facebook{background-color: #3b5998;}

#google{background-color:  #d34836;}

#linkedin{background-color: #0077B5;}

#skype{background-color: #12a5f4;}

#whatsapp{background-color:  #34af23;}

#twitter{background-color: #0084b4;}


footer li  img{width: 24px;}

footer #map{z-index:5;}

#rights{
	position: relative;
	display: inline-block;
	width:100%;   
	color: white;
	background-color: #333333;
	padding: 0px ;
	text-align: center;
}

#rights a{
	color: white;
}

/*----------------gaugemeter----------------------*/
.GaugeMeter {
		
	position: Relative;
	text-align: Center;
	overflow: Hidden;
	cursor: Default;
	display: block;
	}

	.GaugeMeter::after {
	content: "";			  
	display: block;
	width: 90px;
	height: 2px;			  
	background: rgba(0,0,0,0.1);			  
	border-radius: 50%;			  
	box-shadow: 0 0 3px 4px rgba(0,0,0,0.1);			 
	margin: 5px auto;					  	  
	}
				/*You can't manipulate :after, because it's not technically part of 
				the DOM and therefore is inaccessible by any JavaScript. But you can 
				add a new class with a new :after specified.*/
				
				.GaugeMeter.changed:after {
					content: "";
				  display: block;
				  width: 35px;
				  height: 2px;
				  background: rgba(0,0,0,0.1);
				  border-radius: 50%;
				  box-shadow: 0 0 1.5px 2px rgba(0,0,0,0.1);
				  margin: 5px auto;
					
				}

				.GaugeMeter SPAN, .GaugeMeter B {
				  width: 54%;
				  position: Absolute;
				  text-align: Center;
				  display: Inline-Block;
				  color: RGBa(255,0,0,.8);
				  font-weight: 100;
				  font-family: "Open Sans", Arial;
				  overflow: Hidden;
				  white-space: NoWrap;
				  text-overflow: Ellipsis;
				  margin: 0 23%;
				}

				.GaugeMeter[data-style="Semi"] B {
				  width: 40%;
				  margin: 0 10%;
				}

				.GaugeMeter S, .GaugeMeter U {
				  text-decoration: None;
				  font-size: 1.5em;
				  font-weight: 200;
				  opacity: .6;
				}

		.GaugeMeter B {
		  color: #1111;
		 
		  font-weight: 400;
		  opacity: 1;
		}